.nova {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: cover
}

.workspace {
  background-image: url("workspace.svg")
}
.dashboard_layout{
  background-image: url("dashboard_layout.svg")
}
.onlyoffice {
  background-image: url("onlyoffice.svg")
}
.info_popup {
  background-image: url("info_popup.svg")
}