<div class="flex flex-column gap-3">
  <div class="flex flex-column">
    <div class="text-color-secondary"><i class="pi pi-building mr-2"></i>Unidad</div>
    <p class=" text-lg ml-4 font-semibold">{{ generales.unidad.clave + ' ' + generales.unidad.nombre }}</p>
  </div>
  <div class="flex flex-column">
    <div class="text-color-secondary"><i class="pi pi-map mr-2"></i>Dirección</div>
    <p class=" text-lg ml-4 font-semibold">{{ generales.info.contacto.direccion }}</p>
  </div>
  <div class="flex flex-column">
    <div class="text-color-secondary"><i class="pi pi-phone mr-2"></i>Teléfono</div>
    <p class=" text-lg ml-4 font-semibold">{{ generales.info.contacto.telefono }}</p>
  </div>
  @if (generales.info.horarios.length != 0) {
    <div class="flex flex-column">
      <div class="text-color-secondary"><i class="pi pi-clock mr-2"></i>Horario de operación</div>
      <div class="horario flex flex-column ml-4 gap-2 mt-1">
        <div class="h-header flex font-semibold">
          <div class="h-title w-15rem">Horario</div>
          <div class="t-title w-10rem">Apertura</div>
          <div class="h-title w-10rem">Cierre</div>
        </div>
        @for (hora of generales.info.horarios; track generales.unidad.id) {
          <div class="flex mb-1">
            <div class="w-15rem">{{ hora['operatividad']['nombre'] }}</div>
            <div class="w-10rem">{{ hora['apertura'] }}</div>
            <div class="w-10rem">{{ hora['cierre'] }}</div>
          </div>
        }
      </div>
    </div>
  }
</div>



