.ticket {
  min-height: 120px;
  border-top: 7px solid;
}

.ticket-icon {
  display: inline-block;
  top: -7px;
  background: #ffffff;
  padding: 0 5px;
  height: 7px;
}

img {
  position: relative;
  top: -15px;
  margin-bottom: -10px;
}

.message-icon {
  height: 42px;
  width: 44px;
}
