@if (folio) {
    <div class="relative text-center ticket surface-200 border-blue-700 pb-3 border-round-2xl mt-4 ">
        <div class="ticket-icon relative border-round-2xl">
            <div class="message-icon nova onlyoffice ticket-element w-3rem h-3rem  p-5"></div>
        </div>
        <div class="flex flex-row mx-4 gap-3 justify-content-between border-bottom-2 mb-3 pb-4 border-dashed border-none surface-border">
            <div class="flex flex-column align-items-start">
                <div class="text-color-secondary font-bold">Folio</div>
                <div class="text-xl font-bold text-primary">{{ folio.folio }}</div>
            </div>
            <div class="flex flex-column align-items-start">
                <div class="text-color-secondary font-bold">Reporte</div>
                <div class="text-xl font-semibold text-left">{{ folio.reporte }}</div>
            </div>
        </div>
        <div class="px-3 m-4 py-3 surface-50 surface-border border-1 border-round font-semibold">
            <div class="flex justify-content-between py-3 border-bottom-1 surface-border">
                <div>Unidad</div>
                {{ folio.unidad }}
            </div>
            <div class="flex justify-content-between py-3 border-bottom-1 surface-border">
                <div>Área de seguimiento</div>
                {{ folio.area }}
            </div>
            @if (folio.agente !== '') {
                <div class="flex justify-content-between py-3 border-bottom-1 surface-border">
                    <div>Atiende</div>
                    {{ folio.agente }}
                </div>
            }
            @if (folio.estado && folio.estado !== '') {
                <div class="flex justify-content-between py-3 border-bottom-1 surface-border">
                    <div>Estado</div>
                    <div class="reporte" [class]="'estado-'+folio.estado?.toLowerCase()"> {{ folio.estado }}</div>
                </div>
            }
            @if (folio.fecha && folio.fecha !== '') {
                <div class="flex justify-content-between py-3">
                    <div>Fecha de registro</div>
                    {{ folio.fecha }}
                </div>
            }
        </div>
        @defer (when folio.nota && folio.nota !== '') {
            @if (folio.nota && folio.nota !== '') {
                <p-editor [readonly]="true" styleClass="my-3 m-4" [style]="{ height: '335px' }"
                          ngModel="{{folio.nota}}">
                    <ng-template pTemplate="header">
                        <div class="flex my-2"><i class="pi pi-ellipsis-v mx-2"></i>Detalles del reporte</div>
                    </ng-template>
                </p-editor>
            }

        }
    </div>

}