$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";
@import "assets/icons/fluent-color/icons";
@import "assets/layout/styles/estados.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
:root {
  --surface-ground: #dfe3e8
}

.is-required:after {
  content: '*';
  margin-left: 3px;
  color: red;
  font-weight: bold;
}

.button-default {
  background-color: #D5DBDB;
  color: black;
  border: none;
}