<app-title-module color="bg-gray-50"
                  icon="nova onlyoffice"
                  subtitulo="Administre su historial de reportes"
                  titulo="Administrador de reportes">
</app-title-module>
@if (errorService.errors.size > 0) {
    @defer (when errorService.errors.size > 0) {
        <app-error></app-error>
    }
} @else {
    <div class="p-toolbar p-2 mt-4">
        <div class="p-toolbar-group-start">
            <p-splitButton label="Nuevo" icon="pi pi-plus" (onClick)="nuevoFolio()" [model]="items"></p-splitButton>
            <button pButton (click)=evtFiltrar()
                    [icon]="panelFiltro?'pi pi-filter-slash':'pi pi-filter'"
                    label="Filtrar"
                    class="p-button-text p-button-secondary ml-2">
            </button>
        </div>
    </div>
    <div class="mt-2 flex flex-column  md:flex-row gap-2">
        @if (panelFiltro) {
            <div class="md:col col-12 border-round-xl border-1 surface-border surface-section p-3">
                <h6>Filtro de consulta</h6>
                <form (ngSubmit)="evtFiltro()" [formGroup]="formFiltro" class="formgrid grid">
                    <!--Unidad-->
                    <div class="field col-12">
                        <label>Unidad</label>
                        <p-dropdown [filterFields]="['clave','nombre']"
                                    [filter]="true"
                                    [options]="unidades"
                                    [showClear]="true"
                                    filterBy="clave,nombre"
                                    formControlName="unidad"
                                    optionLabel="nombre"
                                    placeholder="Seleccionar"
                                    styleClass="w-full">
                            <!--Lista de visualización de elementos personalizado-->
                            <ng-template let-unidad pTemplate="item">
                                <div class="w-full">
                                    <div>{{ unidad["clave"] + " " + unidad["nombre"] }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <!--Area de seguimiento-->
                    <div class="field col-12">
                        <label>Área</label>
                        <p-dropdown
                                [options]="areas"
                                [showClear]="true"
                                formControlName="area"
                                optionLabel="nombre"
                                placeholder="Seleccionar"
                                styleClass="w-full">
                        </p-dropdown>
                    </div>
                    <!--Estado del reporte-->
                    <div class="field col-12">
                        <label>Estado del reporte</label>
                        <p-dropdown
                                [options]="estados"
                                [showClear]="true"
                                formControlName="estado"
                                optionLabel="nombre"
                                placeholder="Seleccionar"
                                styleClass="w-full">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 flex justify-content-center gap-2">
                        <button pButton (click)="obtenerFoliosPorFiltro()" label="Aplicar"></button>
                        <button pButton (click)="resetFiltro()" class="p-button-outlined" icon="pi pi-eraser"></button>
                    </div>
                </form>
            </div>
        }
        <div [ngClass]="{'md:col-9':panelFiltro}"
             class="col-12 border-round-xl border-1 surface-border surface-section p-3">
            <div class="flex mb-4 align-items-center gap-2">
                <form (ngSubmit)="obtenerFoliosPorFiltro()" [formGroup]="formFecha">
                    <p-calendar
                            (onSelect)="obtenerFoliosPorFiltro()"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            formControlName="fecha"
                            placeholder="Seleccionar fecha"
                            styleClass="w-11rem">
                    </p-calendar>
                </form>
                <form (ngSubmit)="obtenerFolio()" [formGroup]="formFolio" class="ml-auto">
                    <p-inputGroup>
                        <input class="" formControlName="folio" id="folio" pInputText placeholder="Consultar folio"
                               type="text"/>
                        <button [disabled]="formFolio.invalid" icon="pi pi-search" pButton type="submit"></button>
                    </p-inputGroup>
                </form>
            </div>
            <p-table #dt
                     [globalFilterFields]="['folio', 'reporte.nombre', 'reporte.area.nombre','unidad.nombre', 'estado.nombre','fecha']"
                     [loading]="cargandoTabla"
                     [rowHover]="true"
                     [rows]="paginador.rows"
                     styleClass="p-datatable-striped"
                     [scrollable]="true"
                     scrollHeight="550px"
                     [tableStyle]="{'min-width': '50rem'}"
                     [value]="folios">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between row gap-2">
                  <span class="p-input-icon-left"><i class="pi pi-search"></i>
                        <input #inFiltro (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                               class="w-13rem"
                               pInputText placeholder="Buscar en resultado" type="text"/>
                    </span>
                        <button pButton (click)="resetTabla(dt)" class="p-button-outlined" icon="pi pi-replay"></button>

                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:15rem" pSortableColumn="reporte.nombre">Reporte
                            <p-sortIcon field="reporte.nombre"></p-sortIcon>
                        </th>
                        <th style="min-width:5rem" pSortableColumn="estado.nombre">Estado
                            <p-sortIcon field="estado.nombre"></p-sortIcon>
                        </th>
                        <th style="min-width:14rem" pSortableColumn="reporte.area.nombre">Área de seguimiento
                            <p-sortIcon field="reporte.area.nombre"></p-sortIcon>
                        </th>
                        <th style="min-width:15rem" pSortableColumn="unidad.nombre">Unidad
                            <p-sortIcon field="unidad.nombre"></p-sortIcon>
                        </th>
                        <th style="min-width:13rem" pSortableColumn="fecha">Fecha de registro
                            <p-sortIcon field="fecha"></p-sortIcon>
                        </th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template let-data pTemplate="body">
                    <tr>
                        <td>
                            <div class="flex flex-column">
                                <div class="font-bold text-lg">{{ data.folio }}</div>
                                <div class="">{{ data.reporte.nombre }}</div>
                            </div>
                        </td>
                        <td>
                            <span [class]="data.estado.nombre?.toLowerCase()"
                                  class="font-semibold estado">{{ data.estado.nombre }}</span>
                        </td>
                        <td>{{ data.reporte.area.nombre }}</td>
                        <td>{{ data.unidad.clave + ' ' + data.unidad.nombre }}</td>
                        <td>{{ data.fecha }}</td>
                        <td>
                            <div class="flex gap-2">
                                <button pButton class="p-button-secondary" (click)="editar(data.folio)"
                                        icon="pi pi-file"></button>
                                <button pButton class="p-button-warning" (click)="eliminar(data)"
                                        icon="pi pi-trash"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <p-paginator styleClass=" flex p-0 m-0 surface-border" (onPageChange)="onPageChange($event)"
                                 [showCurrentPageReport]="true"
                                 currentPageReportTemplate="{first} - {last} de {totalRecords} elementos"
                                 [first]="paginador.first" [rows]="paginador.rows"
                                 [totalRecords]="paginador.totalElements"
                                 [rowsPerPageOptions]="[50,100, 200,500,1000]"></p-paginator>
                </ng-template>
                <!--Mensaje cuando no hay registros-->
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">
                            <div class="p-4 w-max">
                                <h3>Sin registros</h3>
                                @if (formFolio.valid) {
                                    <h5 class="text-color-secondary">No se encontraron resultados que coincidan con su
                                        búsqueda. Actualize la tabla nuevamente</h5>
                                }
                                @if (!formFolio.valid || !formFiltro.valid) {
                                    <h5 class="text-color-secondary">No hay registros disponibles. Actualize la tabla
                                        nuevamente</h5>
                                }
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
}
@defer (when activarDetalleFolio; prefetch when activarDetalleFolio) {
    <p-sidebar [(visible)]="activarDetalleFolio" position="right" styleClass="w-30rem">
        <ng-template pTemplate="header">
            <div class="flex gap-1">
                <button pButton class="button-default" icon="pi pi-history"></button>
                <button pButton class="button-default" icon="pi pi-pencil"></button>
                <button pButton label="Cerrar folio" icon="pi pi-minus-circle"></button>
            </div>
        </ng-template>
        <app-ticket [ticket]="ticket"></app-ticket>
    </p-sidebar>
}